In [23]:
import pandas
data = pandas.read_csv('titanic.csv', index_col='PassengerId')

In [25]:
data[:10]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C

In [47]:
data['Sex'][:10]

PassengerId
1       male
2     female
3     female
4     female
5       male
6       male
7       male
8       male
9     female
10    female
Name: Sex, dtype: object

In [80]:
a = 0
b = 0
surv = 0

In [81]:
print a, b, surv

0 0 0

In [79]:
for i in range(891):
    if data['Sex'][i+1] == 'male':
        a += 1
    else:
        b += 1
print a, b

577 314

In [82]:
for i in range(891):
    if data['Survived'][i+1] == 1:
        surv += 1

In [83]:
print surv

342

In [89]:
print float (surv) / 891

0.383838383838

In [91]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [92]:
data['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [93]:
print float(549) / 891

0.616161616162

In [94]:
data['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [97]:
print float(216) / 891

0.242424242424

In [166]:
import math
a = 0.0
b = 0.0

In [167]:
for i in range (891):
    if math.isnan(data['Age'][i + 1]) == False:
        a = a + data['Age'][i + 1]
        b = b + 1
print float(a) / b

29.6991176471

In [168]:
data['Age'].median()

28.0

In [169]:
data.corr(method = 'pearson')

          Survived    Pclass       Age     SibSp     Parch      Fare
Survived  1.000000 -0.338481 -0.077221 -0.035322  0.081629  0.257307
Pclass   -0.338481  1.000000 -0.369226  0.083081  0.018443 -0.549500
Age      -0.077221 -0.369226  1.000000 -0.308247 -0.189119  0.096067
SibSp    -0.035322  0.083081 -0.308247  1.000000  0.414838  0.159651
Parch     0.081629  0.018443 -0.189119  0.414838  1.000000  0.216225
Fare      0.257307 -0.549500  0.096067  0.159651  0.216225  1.000000